# ==========================================
# FILE CONTOH KONFIGURASI ENVIRONMENT
# ==========================================
# Instruksi untuk Tim (Fajar/Mahsa): 
# 1. Salin (copy) file ini di laptop Anda masing-masing.
# 2. Ubah nama salinannya menjadi ".env" saja (tanpa kata .example).
# ==========================================

# Nama Aplikasi
APP_NAME=SI-TAKAR_API

# Mode Debug (Ganti ke False jika nanti sudah rilis/Production)
DEBUG=True

# Pengaturan Database (Kita gunakan SQLite untuk versi Purwarupa/MVP ini)
DATABASE_URL=sqlite:///./si_takar.db